{%- set title="Stackable Operator for Trino" -%}
{%- set operator_name="trino" -%}
{%- set operator_docs_slug="trino" -%}
{%- set related_reading_links=[] -%}

{% include "partials/borrowed/header.md.j2" %}
{% include "partials/borrowed/links.md.j2" %}

{% include "partials/main.md.j2" %}

{% include "partials/borrowed/footer.md.j2" %}

{% include "partials/borrowed/related_reading.md.j2" %}
