---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: >-
      kubectl exec -n $NAMESPACE minio-mc-0 --
{% if test_scenario['values']['s3-use-tls'] == 'true' %}
      sh -c 'mc --insecure alias set minio https://minio:9000/ trino trinotrino'
{% else %}
      sh -c 'mc --insecure alias set minio http://minio:9000/ trino trinotrino'
{% endif %}
  - script: kubectl cp -n $NAMESPACE yellow_tripdata_2021-07.csv  minio-mc-0:/tmp || true
# We don't validate the custom MinIO cert here
  - script: kubectl exec -n $NAMESPACE minio-mc-0 -- mc --insecure cp /tmp/yellow_tripdata_2021-07.csv minio/trino
