---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: zookeeper
spec:
  image:
    productVersion: "{{ test_scenario['values']['zookeeper'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['zookeeper'].split('-stackable')[1] }}"
  servers:
    roleGroups:
      default:
        replicas: 1
