---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: hdfs
spec:
  image:
    productVersion: "{{ test_scenario['values']['hdfs'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['hdfs'].split('-stackable')[1] }}"
  zookeeperConfigMapName: hdfs-znode
  dfsReplication: 1
  nameNodes:
    roleGroups:
      default:
        replicas: 2
  dataNodes:
    roleGroups:
      default:
        replicas: 1
  journalNodes:
    roleGroups:
      default:
        replicas: 1
---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperZnode
metadata:
  name:  hdfs-znode
spec:
  clusterRef:
    name: zookeeper
