---
volumePermissions:
  enabled: false
  securityContext:
    runAsUser: auto

primary:
  extendedConfiguration: |
    password_encryption=md5

auth:
  username: hive
  password: hive
  database: hive
