---
volumePermissions:
  enabled: false
  securityContext:
    runAsUser: auto

primary:
  extendedConfiguration: |
    password_encryption=md5
  podSecurityContext:
{% if test_scenario['values']['openshift'] == 'true' %}
    enabled: false
{% else %}
    enabled: true
{% endif %}
  containerSecurityContext:
    enabled: false

auth:
  username: hive
  password: hive
  database: hive
