---
volumePermissions:
  enabled: false

podSecurityContext:
  enabled: false

containerSecurityContext:
  enabled: false

mode: standalone

disableWebUI: true

persistence:
  enabled: false

resources:
  requests:
    memory: 1Gi
    cpu: "512m"
  limits:
    memory: "128Mi"
    cpu: "1"

auth:
  existingSecret: minio-credentials

service:
  type: NodePort
