[Unit]
Description=Stackable Operator for Trino
Before=
After=network.target
[Service]
User=root
ExecStart=/opt/stackable/trino-operator/stackable-trino-operator
Restart=on-abort
StandardOutput=journal
StandardError=journal
Environment="TRINO_OPERATOR_LOG=info"
[Install]
WantedBy=multi-user.target
