---
apiVersion: trino.stackable.tech/v1alpha1
kind: TrinoCluster
metadata:
  name: trino
spec:
  image:
    productVersion: "{{ test_scenario['values']['trino-latest'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['trino-latest'].split('-stackable')[1] }}"
  catalogLabelSelector: {}
  coordinators:
    roleGroups:
      default:
        replicas: 1
      remove:
        replicas: 1
  workers:
    roleGroups:
      default:
        replicas: 1
      remove:
        replicas: 1
