---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa'] }}"
    pullPolicy: IfNotPresent
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    roleGroups:
      default: {}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: simple-trino-opa-bundle
  labels:
    opa.stackable.tech/bundle: "trino"
data:
  trino.rego: |
    package trino

    default allow = false

    allow if {
        is_admin
    }
    batch contains i if {
        some i
        input.action.filterResources[i]
        is_admin
    }

    allow if {
        input.action.operation in ["ExecuteQuery", "AccessCatalog"]
        is_bob
    }
    batch contains i if {
        input.action.operation in ["FilterCatalogs"]
        some i
        input.action.filterResources[i]
        is_bob
    }

    is_admin() if {
      input.context.identity.user == "admin"
    }

    is_bob() if {
      input.context.identity.user == "bob"
    }
