---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: trino-coordinator-resources-default
spec:
  template:
    spec:
      containers:
        - name: trino
          resources:
            requests:
              cpu: 500m
              memory: 4Gi
            limits:
              cpu: "2"
              memory: 4Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: trino-worker-resources-from-role
spec:
  template:
    spec:
      containers:
        - name: trino
          resources:
            requests:
              cpu: 300m
              memory: 3Gi
            limits:
              cpu: 600m
              memory: 3Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: trino-worker-resources-from-role-group
spec:
  template:
    spec:
      containers:
        - name: trino
          resources:
            requests:
              cpu: 400m
              memory: 4Gi
            limits:
              cpu: 800m
              memory: 4Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: trino-worker-resources-from-pod-overrides
spec:
  template:
    spec:
      containers:
        - name: trino
          resources:
            requests:
              cpu: 310m
              memory: 3Gi
            limits:
              cpu: 610m
              memory: 3Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
