---
apiVersion: v1
kind: ConfigMap
metadata:
  name: trino-log-config
data:
  log.properties: |
   io.trino=info
   io.trino.server=debug
---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
  name: password
spec:
  provider:
    static:
      userCredentialsSecret:
        name: test-users
---
apiVersion: v1
kind: Secret
metadata:
  name: test-users
stringData:
  admin: admin
---
apiVersion: trino.stackable.tech/v1alpha1
kind: TrinoCluster
metadata:
  name: test-trino
spec:
  image:
    productVersion: "{{ test_scenario['values']['trino'] }}"
    pullPolicy: IfNotPresent
  clusterConfig:
    catalogLabelSelector: {}
    vectorAggregatorConfigMapName: trino-vector-aggregator-discovery
    # in order to add the password-file-updater container
    authentication:
      - authenticationClass: password
  coordinators:
    roleGroups:
      automatic-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              trino:
                loggers:
                  io.trino:
                    level: INFO
              password-file-updater:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              prepare:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
        podOverrides:
          spec:
            containers:
              - name: vector
                volumeMounts:
                  - name: prepared-logs
                    mountPath: /stackable/log/prepared-logs
            volumes:
              - name: prepared-logs
                configMap:
                  name: prepared-logs
      custom-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              trino:
                custom:
                  configMap: trino-log-config
  workers:
    config:
      gracefulShutdownTimeout: 5s # Let the test run faster
    roleGroups:
      automatic-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              trino:
                loggers:
                  io.trino:
                    level: INFO
                  ROOT:
                    level: ERROR
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              prepare:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
      custom-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              trino:
                custom:
                  configMap: trino-log-config
