---
role: Aggregator
service:
  ports:
  - name: api
    port: 8686
    protocol: TCP
    targetPort: 8686
  - name: vector
    port: 6123
    protocol: TCP
    targetPort: 6000
customConfig:
  api:
    address: 0.0.0.0:8686
    enabled: true
  sources:
    vector:
      address: 0.0.0.0:6000
      type: vector
      version: "2"
  transforms:
    validEvents:
      type: filter
      inputs: [vector]
      condition: is_null(.errors)
    filteredAutomaticLogConfigCoordinatorTrino:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-coordinator-automatic-log-config-0" &&
        .container == "trino"
    filteredAutomaticLogConfigCoordinatorPwFileUpdater:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-coordinator-automatic-log-config-0" &&
        .container == "password-file-updater"
    filteredAutomaticLogConfigCoordinatorVector:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-coordinator-automatic-log-config-0" &&
        .container == "vector"
    filteredAutomaticLogConfigCoordinatorPrepare:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-coordinator-automatic-log-config-0" &&
        .container == "prepare"
    filteredAutomaticLogConfigWorkerTrino:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-worker-automatic-log-config-0" &&
        .container == "trino"
    filteredAutomaticLogConfigWorkerVector:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-worker-automatic-log-config-0" &&
        .container == "vector"
    filteredAutomaticLogConfigWorkerPrepare:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-worker-automatic-log-config-0" &&
        .container == "prepare"
    filteredCustomLogConfigCoordinatorTrino:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-coordinator-custom-log-config-0" &&
        .container == "trino"
    filteredCustomLogConfigCoordinatorPwFileUpdater:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-coordinator-custom-log-config-0" &&
        .container == "password-file-updater"
    filteredCustomLogConfigCoordinatorVector:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-coordinator-custom-log-config-0" &&
        .container == "vector"
    filteredCustomLogConfigCoordinatorPrepare:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-coordinator-custom-log-config-0" &&
        .container == "prepare"
    filteredCustomLogConfigWorkerTrino:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-worker-custom-log-config-0" &&
        .container == "trino"
    filteredCustomLogConfigWorkerVector:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-worker-custom-log-config-0" &&
        .container == "vector"
    filteredCustomLogConfigWorkerPrepare:
      type: filter
      inputs: [validEvents]
      condition: >-
        .pod == "test-trino-worker-custom-log-config-0" &&
        .container == "prepare"
    filteredInvalidEvents:
      type: filter
      inputs: [vector]
      condition: |-
        .timestamp == from_unix_timestamp!(0) ||
        is_null(.level) ||
        is_null(.logger) ||
        is_null(.message)
  sinks:
    test:
      inputs: [filtered*]
      type: blackhole
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    aggregator:
      inputs: [vector]
      type: vector
      address: {{ lookup('env', 'VECTOR_AGGREGATOR') }}
      buffer:
        # Avoid back pressure from VECTOR_AGGREGATOR. The test should
        # not fail if the aggregator is not available.
        when_full: drop_newest
{% endif %}
