{% if test_scenario['values']['use-authentication'] == 'true' %}
---
apiVersion: v1
kind: Secret
metadata:
  name: trino-users
type: kubernetes.io/opaque
stringData:
  # admin:admin
  admin: $2y$10$89xReovvDLacVzRGpjOyAOONnayOgDAyIS2nW9bs5DJT98q17Dy5i
{% endif %}
{% if test_scenario['values']['use-tls'] == 'true' %}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: trino-tls
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-trino-tls-ca
          namespace: default
        autoGenerate: true
{% endif %}
{% if test_scenario['values']['use-internal-tls'] == 'true' %}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: trino-internal-tls
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-trino-internal-tls-ca
          namespace: default
        autoGenerate: true
{% endif %}
---
apiVersion: trino.stackable.tech/v1alpha1
kind: TrinoCluster
metadata:
  name: trino
spec:
  image:
    productVersion: "{{ test_scenario['values']['trino-latest'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['trino-latest'].split('-stackable')[1] }}"
  catalogLabelSelector: {}
  config:
{% if test_scenario['values']['use-tls'] == 'true' %}
    tls:
      secretClass: trino-tls
{% else  %}
    tls: null
{% endif %}
{% if test_scenario['values']['use-internal-tls'] == 'true' %}
    internalTls:
      secretClass: trino-internal-tls
{% else  %}
    internalTls: null
{% endif %}
{% if test_scenario['values']['use-authentication'] == 'true' and test_scenario['values']['use-tls'] == 'true' %}
  authentication:
    method:
      multiUser:
        userCredentialsSecret:
          name: trino-users
{% endif %}
  coordinators:
    roleGroups:
      default:
        replicas: 1
        config: {}
  workers:
    roleGroups:
      default:
        replicas: 1
        config: {}
