---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: trino-test-helper
  labels:
    app: trino-test-helper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trino-test-helper
  template:
    metadata:
      labels:
        app: trino-test-helper
    spec:
      serviceAccount: integration-tests-sa
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: trino-test-helper
          image: docker.stackable.tech/stackable/testing-tools:0.2.0-stackable0.0.0-dev
          command: ["sleep", "infinity"]
{% if test_scenario['values']['use-tls'] == 'true' %}
          volumeMounts:
            - mountPath: "/stackable/trusted"
              name: server-tls-mount
      volumes:
        - name: server-tls-mount
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/class: trino-tls
                  secrets.stackable.tech/scope: pod,node
              spec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: "1"
                storageClassName: secrets.stackable.tech
{% endif %}
