{
    "useAuthentication": {{ test_scenario['values']['use-authentication'] }},
    "useTls": {{ test_scenario['values']['use-tls'] }},
    "useInternalTls": {{ test_scenario['values']['use-internal-tls'] }}
}
