---
apiVersion: v1
kind: Secret
metadata:
  name: trino-with-ldap-bind
  labels:
    secrets.stackable.tech/class: trino-with-ldap-bind
stringData:
  LDAP_USER: cn=admin,dc=example,dc=org
  LDAP_PASSWORD: admin
---
apiVersion: trino.stackable.tech/v1alpha1
kind: TrinoCluster
metadata:
  name: trino
spec:
  image:
    productVersion: "{{ test_scenario['values']['trino-latest'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['trino-latest'].split('-stackable')[1] }}"
  catalogLabelSelector: {}
  authentication:
    method:
{% if test_scenario['values']['ldap-use-tls'] == 'false' %}
      ldap:
        authenticationClass: ldap-without-tls
{% else  %}
      ldap:
        authenticationClass: ldap-with-tls
{% endif %}
  coordinators:
    roleGroups:
      default:
        replicas: 1
  workers:
    roleGroups:
      default:
        replicas: 1
