---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
{% if test_scenario['values']['ldap-use-tls'] == 'false' %}
  name: ldap-without-tls
{% else  %}
  name: ldap-with-tls
{% endif %}
spec:
  provider:
    ldap:
      hostname: openldap.$NAMESPACE.svc.cluster.local
      searchBase: ou=users,dc=example,dc=org
      bindCredentials:
        secretClass: trino-with-ldap-bind
{% if test_scenario['values']['ldap-use-tls'] == 'false' %}
      port: 1389
{% else %}
      port: 1636
      tls:
        verification:
          server:
            caCert:
              secretClass: openldap-tls
{% endif %}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: trino-with-ldap-bind
spec:
  backend:
    k8sSearch:
      searchNamespace:
        pod: {}
