---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:23.0.6
          args:
            - start-dev
            - --import-realm
            - --https-certificate-file=/tls/tls.crt
            - --https-certificate-key-file=/tls/tls.key
          env:
            - name: KEYCLOAK_ADMIN
              value: admin
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: admin
          ports:
            - name: https
              containerPort: 8443
          volumeMounts:
            - name: realms
              mountPath: /opt/keycloak/data/import
            - name: tls
              mountPath: /tls
          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /realms/stackable
              port: 8443
      serviceAccountName: keycloak
      volumes:
        - name: realms
          configMap:
            name: keycloak-realms
        - name: tls
          csi:
            driver: secrets.stackable.tech
            volumeAttributes:
              secrets.stackable.tech/class: tls
              secrets.stackable.tech/scope: service=keycloak
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
spec:
  selector:
    app: keycloak
  ports:
    - protocol: TCP
      port: 8443
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keycloak

{% if test_scenario['values']['openshift'] == 'true' %}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: keycloak
rules:
  - apiGroups: ["security.openshift.io"]
    resources: ["securitycontextconstraints"]
    resourceNames: ["privileged"]
    verbs: ["use"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: keycloak
subjects:
  - kind: ServiceAccount
    name: keycloak
roleRef:
  kind: Role
  name: keycloak
  apiGroup: rbac.authorization.k8s.io
{% endif %}
