---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: trino-test-helper
  labels:
    app: trino-test-helper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trino-test-helper
  template:
    metadata:
      labels:
        app: trino-test-helper
    spec:
      serviceAccount: integration-tests-sa
{% if test_scenario['values']['openshift'] == 'false' %}
      securityContext:
        fsGroup: 1000
{% endif %}
      containers:
        - name: trino-test-helper
          image: oci.stackable.tech/sdp/testing-tools/trino:0.3.0-stackable0.0.0-dev
          command: ["sleep", "infinity"]
          volumeMounts:
            - name: tls
              mountPath: /stackable/tls
          env:
            - name: REQUESTS_CA_BUNDLE
              value: /stackable/tls/ca.crt
      volumes:
        - name: tls
          csi:
            driver: secrets.stackable.tech
            volumeAttributes:
              secrets.stackable.tech/class: tls
              secrets.stackable.tech/scope: pod,node
