---
apiVersion: v1
kind: Secret
metadata:
  name: trino-ldap-bind-secret
  namespace: $NAMESPACE
  labels:
    secrets.stackable.tech/class: trino-ldap-bind-$NAMESPACE
stringData:
  user: cn=admin,dc=example,dc=org
  password: admin
---
apiVersion: trino.stackable.tech/v1alpha1
kind: TrinoCluster
metadata:
  name: trino
  namespace: $NAMESPACE
spec:
  image:
    productVersion: "'"{{ test_scenario['values']['trino-latest'] }}"'"
  clusterConfig:
    catalogLabelSelector: {}
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
    authentication:
      - authenticationClass: password-$NAMESPACE
      - authenticationClass: password-other-$NAMESPACE
      - authenticationClass: ldap-$NAMESPACE
      - authenticationClass: ldap-other-$NAMESPACE
  coordinators:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
  workers:
    config:
      gracefulShutdownTimeout: 5s # Let the test run faster
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
