---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: openldap-other-tls-$NAMESPACE
spec:
  backend:
    autoTls:
      ca:
        autoGenerate: true
        secret:
          name: openldap-other-tls-ca-$NAMESPACE
          namespace: $NAMESPACE
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: openldap-other
  namespace: $NAMESPACE
  labels:
    app.kubernetes.io/name: openldap-other
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: openldap-other
  serviceName: openldap-other
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: openldap-other
    spec:
      serviceAccountName: "ldap-sa"
      containers:
        - name: openldap-other
          image: docker.io/bitnamilegacy/openldap:2.5
          env:
            - name: LDAP_ADMIN_USERNAME
              value: admin
            - name: LDAP_ADMIN_PASSWORD
              value: admin
            - name: LDAP_ENABLE_TLS
              value: \"yes\"
            - name: LDAP_TLS_CERT_FILE
              value: /tls/tls.crt
            - name: LDAP_TLS_KEY_FILE
              value: /tls/tls.key
            - name: LDAP_TLS_CA_FILE
              value: /tls/ca.crt
          ports:
            - name: ldap
              containerPort: 1389
            - name: tls-ldap
              containerPort: 1636
          volumeMounts:
            - name: tls
              mountPath: /tls
          startupProbe:
            tcpSocket:
              port: 1389
          readinessProbe:
            tcpSocket:
              port: 1389
          # See https://github.com/bitnami/containers/issues/40841#issuecomment-1649977191
          securityContext:
           capabilities:
             drop:
             - ALL
             add:
             - NET_BIND_SERVICE
      volumes:
        - name: tls
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/class: openldap-other-tls-$NAMESPACE
                  secrets.stackable.tech/scope: pod
              spec:
                storageClassName: secrets.stackable.tech
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: openldap-other
  namespace: $NAMESPACE
  labels:
    app.kubernetes.io/name: openldap-other
spec:
  type: ClusterIP
  ports:
    - name: ldap
      port: 1389
      targetPort: ldap
    - name: tls-ldap
      port: 1636
      targetPort: tls-ldap
  selector:
    app.kubernetes.io/name: openldap-other
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ldap-sa
  namespace: $NAMESPACE
{% if test_scenario['values']['openshift'] == 'true' %}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: use-integration-tests-scc
  namespace: $NAMESPACE
rules:
- apiGroups: ["security.openshift.io"]
  resources: ["securitycontextconstraints"]
  resourceNames: ["privileged"]
  verbs: ["use"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: use-integration-tests-scc
  namespace: $NAMESPACE
subjects:
  - kind: ServiceAccount
    name: ldap-sa
roleRef:
  kind: Role
  name: use-integration-tests-scc
  apiGroup: rbac.authorization.k8s.io
{% endif %}
