# tag::stackablectl-install-operators-output[]
[INFO ] Installing commons operator in version {{ versions.commons }}
[INFO ] Installing secret operator in version {{ versions.secret }}
[INFO ] Installing listener operator in version {{ versions.listener }}
[INFO ] Installing trino operator in version {{ versions.trino }}
# end::stackablectl-install-operators-output[]
